*.iml
.gradle
.idea
build
/.gradle
/.idea
/build

/app/build

/style/build

/local.properties
/gradlew
/gradlew.bat
/captures
.DS_Store
.externalNativeBuild
.cxx
.idea/.gitignore
.idea/gradle.xml
.idea/misc.xml
.idea/vcs.xml
gradle.properties
gradlew
gradlew.bat
